
.card {


	&-shadow {
		box-shadow: $card-shadow;
	}

	&-rounded {
		border-radius: $radius-lg;
	}

	&-no-hover {
		pointer-events: none;
	}

	&-nsfw {
		filter: blur(5px);
	}

	&-xs {
		height: 15rem;
	}

	&-sm {
		height: 15rem;
	}

	&-md {
		height: 20rem;
	}

	&-lg {
		height: 25rem;
	}

	&-xl {
		height: 30rem;
	}

	&-2xl {
		height: 35rem;
	}

	&-3xl {
		height: 40rem;
	}

	&-4xl {
		height: 45rem;
	}


}

// animate saturation slowly change every 5 seconds
@keyframes saturation {
	0% {
	  filter: saturate(150%);
	}
	25% {
	  filter: saturate(200%);
	}
	50% {
	  filter: saturate(250%);
	}
	75% {
	  filter: saturate(300%);
	}
	100% {
	  filter: saturate(150%);
	}
  }
  

@keyframes saturation2 {
	0% {
	  filter: saturate(100%);
	}
	25% {
	  filter: saturate(150%);
	}
	50% {
	  filter: saturate(200%);
	}
	75% {
	  filter: saturate(150%);
	}
	100% {
	  filter: saturate(100%);
	}
  }

.img-card {


	background-size: cover;
	background-repeat: no-repeat;
	transition: transform $speed-md ease;
	
	filter: saturate(100%);

	&-animateSaturation {
		animation: saturation 5s ease-in-out infinite alternate both ;
	}

	&-animateSaturation2 {
		animation: saturation2 5s ease-in-out infinite alternate both ;
	}

	

	&-fullSaturation{
		filter: saturate(150%);
	}

	&-noHover {
		pointer-events: none;
	}

	&:hover {
		filter: opacity(1) saturate(110%);
	}

	&-scale {
		&:hover {

			transform: scale(1.1);
			filter: opacity(1) saturate(110%);
		}
	}

	&-xsm {
		height: 10rem;
	}

	&-sm {
		height: 15rem;
	}

	&-md {
		height: 20rem;
	}

	&-lg {
		height: 25rem;
	}

	&-xl {
		height: 30rem;
	}

	&-2xl {
		height: 35rem;
	}

	&-3xl {
		height: 40rem;
	}

	&-4xl {
		height: 45rem;
	}

	&-screen {
		height: 100vh;
	}
}