.card {
	border-radius: 1rem;
	transition: all 0.5s;
	overflow: hidden;
	

	&-noHover {
		pointer-events: none;
	}

	&:hover {
		transform: scale(1.01);
	}

	&-nsfw {
		filter: blur(5px);
	}

	&-xsm {
		height: 10rem;
	}

	&-sm {
		height: 15rem;
	}

	&-md {
		height: 20rem;
	}

	&-lg {
		height: 25rem;
	}

	&-xl {
		height: 30rem;
	}

	&-2xl {
		height: 35rem;
	}

	&-3xl {
		height: 40rem;
	}

	&-4xl {
		height: 45rem;
	}
}

.img-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-size: 3rem;
	color: #fff;

	height: 15rem;
	width: 100%;
	
	transition: all 1s;
	overflow: hidden;
	background-size: cover;
	object-fit: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: opacity(1) saturate(120%);

	&-noHover {
		pointer-events: none;
	}

	&:hover {
		box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
		transform: scale(1.03);
		filter: opacity(1) saturate(150%);
	}

	&-xsm {
		height: 10rem;
	}

	&-sm {
		height: 15rem;
	}

	&-md {
		height: 20rem;
	}

	&-lg {
		height: 25rem;
	}

	&-xl {
		height: 30rem;
	}

	&-2xl {
		height: 35rem;
	}

	&-3xl {
		height: 40rem;
	}

	&-4xl {
		height: 45rem;
	}
}


.parent {
	position: relative;
	border-radius: 1rem;
	transition: all 0.5s;

	&:hover {
		transform: scale(1.01);
	}
  }

.img-underlay {
	position: relative;
	top: 0;
	left: 0;
}

.img-overlay{
  position: absolute;
  z-index: 50;
  top: 30px;
  left: 30px;
}

.blur {
	filter: blur(8px);
	transition: all 1s;

	&:hover {
		filter: none;
	}

	&-none {
		filter: none;
	}
}

.card-btn {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid $black;


	text-align: center;
	transition: all $xslow-spd ease;

	&:hover {
		padding: 0.35em 2em;
	}

	&-blue {
		color: white;
		background-color: $primary;
	}

}
