.fade-in-card {
	opacity: 0;
	transition: opacity $speed-md ease-in-out;
}

.card {
	transition: transform $speed-md ease-in;

	&-shadow {
		box-shadow: $card-shadow;
	}

	&-rounded {
		border-radius: $radius-lg;
	}

	&-no-hover {
		pointer-events: none;
	}

	&-nsfw {
		filter: blur(5px);
	}

	&-xsm {
		height: 10rem;
	}

	&-sm {
		height: 15rem;
	}

	&-md {
		height: 20rem;
	}

	&-lg {
		height: 25rem;
	}

	&-xl {
		height: 30rem;
	}

	&-2xl {
		height: 35rem;
	}

	&-3xl {
		height: 40rem;
	}

	&-4xl {
		height: 45rem;
	}

}

.img-card {


	background-size: cover;
	background-repeat: no-repeat;
	transition: transform $speed-md ease-in-out;
	box-shadow: $box-shadow;
	filter: saturate(0%);

	&-hasColor {
		filter: saturate(100%);
	}

	&-noHover {
		pointer-events: none;
	}

	&:hover {
		filter: opacity(1) saturate(110%);
	}

	&-scale {
		&:hover {

			transform: scale(1.1);
			filter: opacity(1) saturate(110%);
		}
	}

	&-xsm {
		height: 10rem;
	}

	&-sm {
		height: 15rem;
	}

	&-md {
		height: 20rem;
	}

	&-lg {
		height: 25rem;
	}

	&-xl {
		height: 30rem;
	}

	&-2xl {
		height: 35rem;
	}

	&-3xl {
		height: 40rem;
	}

	&-4xl {
		height: 45rem;
	}

	&-screen {
		height: 100vh;
	}
}