.bg-grid {
	background-size: 25px 25px;
	background-image:
		linear-gradient(to right, rgba(255, 255, 255, 0.01) 1px, transparent 1px),
		linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px);

}


.bg-dark-trans {
	background-color: rgba(0, 0, 0, 0.85);
	color: $white;
	z-index: 10;

	&-light {
		background-color: rgba(0, 0, 0, 0.5);
	}
}


.bg-primary {
	background-color: $primary;
	color: $white;
}

.bg-error {
	background-color: $error;
	color: $white;
}

.bg-dark-light {
	background-color: $dark-light;
}


.bg-smoke {
	background-color: $smoke;
	color: $black;
}

.bg-dark {
	background-color: $dark;
	color: $white;
}

.bg-success{
	background-color: $success;
	color: $white;
}