.bg-green {
	background-color: #007a3e;
}

.bg-blue {
	background-color: #164cbe;
}

.bg-red {
	background-color: #793434;
}

.bg-smoke {
	background-color: #f8f9f2;
}

.bg-dark {
	background-color: $dark;
}

.bg-orange {
	background-color: #FFA500;
	}
	
	.bg-purple {
	background-color: #7D3C98;
	}
	
	.bg-yellow {
	background-color: #FFFF00;
	}
	
	.bg-pink {
	background-color: #FF69B4;
	}
	
	.bg-turquoise {
	background-color: #40E0D0;
	}
	
	.bg-silver {
	background-color: #C0C0C0;
	}
	
	.bg-brown {
	background-color: #A52A2A;
	}
	
	.bg-teal {
	background-color: #008080;
	}
	
	.bg-maroon {
	background-color: #800000;
	}
	
	.bg-olive {
	background-color: #808000;
	}