.bg-green {
	background-color: #007a3e;
}

.bg-blue {
	background-color: #343579;
}

.bg-red {
	background-color: #793434;
}

.bg-smoke {
	background-color: #f8f9f2;
}

.bg-dark {
	background-color: $dark;
}