/* Container styling */
.json-container {
    background-color: #131313;
   
    font-family: 'Consolas', 'Courier New', monospace;
    padding: $paddings-lg;
    border-radius: $radius-lg;
    max-width: 100%;
    overflow-x: auto;
}

/* Syntax styling */
.key {
    color: #7adfff;
}

.string-value {
    color: #ff9a7a;
}

.number-value {
    color: #7aff9a;
}

.boolean-value {
    color: #d7ba7d;
}

.null-value {
    color: #ff7adf;
}

/* Punctuation styling */
.punctuation {
    color: #d4d4d4;
}