.vscode {
    &-key-value {
        color: #7adfff;
    }

    &-string-value {
        color: #fa9172;
    }

    &-number-value {
        color: #7aff9a;
    }

    &-boolean-value {
        color: #f0c872;
    }

    &-null-value {
        color: #ff7adf;
    }

    &-punctuation-value {
        color: #d4d4d4;
    }
}


.andromeda{
    &-key-value {
        color: #00e8c6;
    }

    &-string-value {
        color: #FFE66D;
    }

    &-number-value {
        color: #f3127b;
    }

    &-boolean-value {
        color: #55abfc;
    }

    &-null-value {
        color: #96E072;
    }

    &-punctuation-value {
        color: #d4d4d4;
    }
}




.mystic{
    &-key-value {
        color: #df8aab;  // Deep Purple
    }

    &-string-value {
        color: #1dccb2;  // Teal Blue
    }

    &-number-value {
        color: #e9a75b;  // Orange
    }

    &-boolean-value {
        color: #ffce2d;  // Yellow
    }

    &-null-value {
        color: #df2029;  // Red
    }

    &-punctuation-value {
        color: #ffffff;  // Light Grey
    }
}


.solar{
    &-key-value {
        color: #fdf6e3;  // Off White
    }

    &-string-value {
        color: #007bda;  // Gold
    }

    &-number-value {
        color: #27d84d;  // Orange Red
    }

    &-boolean-value {
        color: #FFB20F;  // Medium Blue
    }

    &-null-value {
        color: #ff1100;  // Teal
    }

    &-punctuation-value {
        color: #93a1a1;  // Dark Gray
    }
}

.forest {
    &-key-value {
        color: #599b8a;  // Pink
    }

    &-string-value {
        color: #6e8b38;  // Bright Green
    }

    &-number-value {
        color: #b33313;  // Sky Blue
    }

    &-boolean-value {
        color: #F4E87C;  // Light Purple
    }

    &-null-value {
        color: #4321bb;  // Bright Orange
    }

    &-punctuation-value {
        color: #f8f8f2;  // Off White
    }
}


.monokai {
    &-key-value {
        color: #a7d674;  // Pink
    }

    &-string-value {
        color: #a6e22e;  // Bright Green
    }

    &-number-value {
        color: #5797f7;  // Sky Blue
    }

    &-boolean-value {
        color: #ce211e;  // Light Purple
    }

    &-null-value {
        color: #e08419;  // Bright Orange
    }

    &-punctuation-value {
        color: #f8f8f2;  // Off White
    }
}

.winter {
    &-key-value {
        color: #305c8d;  // Purple
    }

    &-string-value {
        color: #b4cee7;  // Pink
    }

    &-number-value {
        color: #93b6de;  // Sky Blue
    }

    &-boolean-value {
        color: #516183;  // Neon Green
    }

    &-null-value {
        color: #ffab00;  // Orange
    }

    &-punctuation-value {
        color: #b2b2b2;  // Medium Gray
    }
}

.canyon{
    &-key-value {
        color: #945a36;  // Purple
    }

    &-string-value {
        color: #628135;  // Pink
    }

    &-number-value {
        color: #81aedd;  // Sky Blue
    }

    &-boolean-value {
        color: #453481;  // Neon Green
    }

    &-null-value {
        color: #be4324;  // Orange
    }

    &-punctuation-value {
        color: #adc0d1;  // Medium Gray
    }
}