@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	line-height: 1.75;
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1;
	font-size: 16px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
}

html {
	scroll-behavior: smooth;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

.cursor {
	position: fixed;
	border-radius: 50%;
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: difference; //for dark and light modes
	background-color: transparent;
	z-index: 10000;
	border: 2px solid white;
	height: 30px;
	width: 30px;
	transition: height 0.2s, width 0.2s, border 0.5s, background-color 0.2s;

	&-hover {
		border: 2px solid rgba(53, 53, 53, 0.1);
		height: 60px;
		width: 60px;
	}
}

.main-container {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;

	@media (min-width: 640px) {
		padding-top: 2rem;
		padding-bottom: 2rem;
		padding-left: 4rem;
		padding-right: 4rem;
	}

	@media (min-width: 768px) {
		padding-top: 6rem;
		padding-bottom: 6rem;
		padding-left: 6rem;
		padding-right: 6rem;
	}

	@media (min-width: 1024px) {
		padding-top: 8rem;
		padding-bottom: 8rem;
		padding-left: 8rem;
		padding-right: 8rem;
	}

	@media (min-width: 1280px) {
		padding-top: 8rem;
		padding-bottom: 8rem;
		padding-left: 15rem;
		padding-right: 15rem;
	}
}
