.img-icon {
	transition: all $speed-sm ease;
	filter: grayscale(100%) opacity(0.5) saturate(50%);

	&-color {
		filter: grayscale(0%) opacity(1) saturate(150%);
	}

	&:hover {
		transform: rotate(10deg) scale(1.2);
		filter: grayscale(0%) opacity(1) saturate(150%);
	}
}