.img-icon {
	transition: all $speed-sm ease;
	filter: grayscale(100%) opacity(1) saturate(0%);
	&-color {
		filter: grayscale(0%) opacity(1) saturate(100%);
	}
	&:hover {
		transform: rotate(10deg) scale(1.2);
		filter: grayscale(0%) opacity(1) saturate(150%);
	}
	&-no-rotate {
		&:hover {
			transform: scale(1.0);
		}
	}
}
.footer-icon {
	font-size: $font-size-xl;
	transition: all $speed-md ease-in-out;
	&:hover {
		color: $white;
		transform: rotate(10deg);
	}
}