.table td {
  border-bottom: 1px solid #ddd;
  padding: $paddings-lg;
  text-align: center;
  transition: all $speed-md;
  &:first-child {
    background-color: $light-gray;
  }
}
.table tr {
  transition: all $speed-md;
  &:hover {
    background-color: $light-warning;
  }
}

.table th {
  font-weight: 400;
  padding: $paddings-lg;
  text-align: center;
  transition: all $speed-md;
  &:first-child {
  
    background-color: $primary;
    color: white;
    &:hover {
      cursor: pointer;
      color: white;
      background-color: $primary-dark;
    }
  }
  &:nth-child(n+2) {
    background-color: $dark;
    color: white;
    &:hover {
      cursor: pointer;
      color: white;
      background-color: $gray;
    }
  }

}

.paginated-btn {
  padding: $paddings-lg;
  background-color: $white;
	color: $black;
	box-shadow: inset 0 1px 0 $gray;
	box-shadow: $button-shadow;
	
	text-align: center;
	transition: all $speed-sm ease;

	&:hover {
		
		background-color: $btn-default-light;
	}

  &-no-border {
    border: none;
  }
  &-no-rounded {
    border-radius: 0;
  }

  &-primary {
    background-color: $primary;
    color: white;
    &:hover {
      color: white;
      background-color: $primary-dark;
    }
  }
  &-error {
    background-color: $error;
    color: white;
    &:hover {
      color: white;
      background-color: $error-dark;
    }
  }
  &-green {
    background-color: $success;
    color: white;
    &:hover {
      color: white;
      background-color: $success-dark;
    }
  }
  &-black-outline {
    color: $dark;
    border-color: $btn-default-light;
    &:hover {
      background-color: $btn-default-light;
    }
  }
  &-error-outline {
    color: $error;
    border-color: $error;
    &:hover {
      color: white;
      background-color: $error;
    }
  }

}