.text-green {
	color: #007a3e;
}

.text-blue {
	color: #343579;
}

.text-red {
	color: #793434;
}

.text-smoke {
	color: #f8f9f2;
}

.text-dark {
	color: $dark;
}

.text-orange {
	color: #FFA500;
	}
	
	.text-purple {
	color: #7D3C98;
	}
	
	.text-yellow {
	color: #FFFF00;
	}
	
	.text-pink {
	color: #FF69B4;
	}
	
	.text-turquoise {
	color: #40E0D0;
	}
	
	.text-silver {
	color: #C0C0C0;
	}
	
	.text-brown {
	color: #A52A2A;
	}
	
	.text-teal {
	color: #008080;
	}
	
	.text-maroon {
	color: #800000;
	}
	
	.text-olive {
	color: #808000;
	}