@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Space+Grotesk&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	line-height: 1.75;
  font-family: 'Space Grotesk', sans-serif;
  color: #000000;
  background-color: #0f172a;
  font-size:  16px;
	font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

html {
	scroll-behavior: smooth;
}
