@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lato&display=swap");
.bg-grid {
  background-size: 20px 20px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.02) 1px, transparent 1px), linear-gradient(to bottom, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
}

.bg-primary {
  background-color: #d01a30;
}

.bg-error {
  background-color: #b42929;
}

.bg-dark-light {
  background-color: #2e2b33;
}

.bg-smoke-yellow {
  background-color: #f8f9f3;
}

.bg-green {
  background-color: #007a3e;
}

.bg-blue {
  background-color: #164cbe;
}

.bg-red {
  background-color: #793434;
}

.bg-smoke {
  background-color: #f9f9f9;
}

.bg-dark {
  background-color: #0e0e0e;
}

.bg-orange {
  background-color: #FFA500;
}

.bg-purple {
  background-color: #7D3C98;
}

.bg-yellow {
  background-color: #FFFF00;
}

.bg-pink {
  background-color: #FF69B4;
}

.bg-turquoise {
  background-color: #40E0D0;
}

.bg-silver {
  background-color: #9aa8b1;
}

.bg-brown {
  background-color: #A52A2A;
}

.bg-teal {
  background-color: #008080;
}

.bg-maroon {
  background-color: #800000;
}

.bg-olive {
  background-color: #808000;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  line-height: 1.75;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.container {
  max-width: -moz-max-content;
  max-width: max-content;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1px;
  letter-spacing: 0.02rem;
  font-weight: 600;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a,
span,
p {
  font-size: 0.75rem;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1px;
}

hr {
  border: none;
  height: 1px;
  background-color: #e6e8de;
}

.footer-icon {
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out;
}
.footer-icon:hover {
  color: #d01a30;
}

.text-title {
  font-size: 2.5rem;
  line-height: 25px;
  font-weight: 600;
}
.text-subtitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}
.text-no-spacing {
  line-height: 0.75;
  /* Adjust line height to remove spacing */
}
.text-primary {
  color: #d01a30;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.overlay-rounded {
  border-bottom-left-radius: 0.5rem;
}

.nav {
  z-index: 100;
  position: fixed;
  transition: width 0.25s ease;
  overflow: hidden;
  display: flex;
}
.nav .logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #F5F7FA;
  background: #2e2b33;
  width: 100%;
}
.nav .logo span {
  font-size: x-large;
}
.nav .nav-item {
  width: 100%;
  color: rgb(116, 116, 116);
}
.nav .nav-item:last-child {
  margin-top: auto;
}
.nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  text-decoration: none;
  transition: 0.25s ease;
}
.nav .nav-item .nav-link .link-text {
  margin-left: 1rem;
}
.nav .nav-item .nav-link-selected {
  background: #d01a30;
  color: rgb(255, 255, 255);
}
.nav .nav-item .nav-link i {
  width: 1rem;
  min-width: 1rem;
  margin: 0 1.5rem;
  transition: 0.25s ease;
}
.nav .nav-item .nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: #282f5c;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.nav .nav-item .nav-link:hover i {
  transform: rotate(10deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .nav {
    flex-direction: row;
    height: 3rem;
    width: 100vw;
    bottom: 0;
  }
  .nav .nav-link {
    justify-content: center;
  }
  .nav .nav-link span {
    display: none;
  }
  .nav .nav-item:first-child {
    display: none;
  }
}
/* Large screens */
@media only screen and (min-width: 600px) {
  .nav {
    flex-direction: row;
    height: 3rem;
    width: 100vw;
    top: 0;
  }
  .nav:hover .link-text {
    display: inline;
  }
  .nav:hover .logo span {
    left: 0px;
  }
}
/* Standard syntax */
@keyframes backgroundColorPalette {
  0% {
    background: #5c5ef3;
  }
  25% {
    background: #3f45fc;
  }
  50% {
    background: #3032aa;
  }
  75% {
    background: rgb(62, 8, 189);
  }
  100% {
    background: #0d48b8;
  }
}
/* Standard syntax */
@keyframes backgroundSaturation {
  0% {
    filter: saturate(150%);
  }
  25% {
    filter: saturate(170%);
  }
  50% {
    filter: saturate(200%);
  }
  75% {
    filter: saturate(170%);
  }
  100% {
    filter: saturate(150%);
  }
}
.header {
  animation-name: backgroundSaturation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.transparent-overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.about-btn {
  transition: all 0.25s ease;
}
.about-btn:hover {
  transform: scale(1.3);
}

a.special-btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid rgb(255, 255, 255);
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: all 0.25s ease;
}
a.special-btn:hover {
  color: #2e2b33;
  background-color: rgb(255, 255, 255);
  padding: 0.35em 2em;
}

.text-green {
  color: #007a3e;
}

.text-blue {
  color: #343579;
}

.text-red {
  color: #793434;
}

.text-smoke {
  color: #f8f9f2;
}

.text-dark {
  color: #0e0e0e;
}

.text-orange {
  color: #FFA500;
}

.text-purple {
  color: #7D3C98;
}

.text-yellow {
  color: #FFFF00;
}

.text-pink {
  color: #FF69B4;
}

.text-turquoise {
  color: #40E0D0;
}

.text-silver {
  color: #C0C0C0;
}

.text-brown {
  color: #A52A2A;
}

.text-teal {
  color: #008080;
}

.text-maroon {
  color: #800000;
}

.text-olive {
  color: #808000;
}

.table td {
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
  transition: all 0.5s;
}
.table td:first-child {
  background-color: #F5F7FA;
}

.table tr {
  transition: all 0.5s;
}
.table tr:hover {
  background-color: #fffce9;
}

.table th {
  font-weight: 400;
  padding: 1rem;
  text-align: center;
  transition: all 0.5s;
}
.table th:first-child {
  background-color: #d01a30;
  color: white;
}
.table th:first-child:hover {
  cursor: pointer;
  color: white;
  background-color: #282f5c;
}
.table th:nth-child(n+2) {
  background-color: #0e0e0e;
  color: white;
}
.table th:nth-child(n+2):hover {
  cursor: pointer;
  color: white;
  background-color: rgb(116, 116, 116);
}

.paginated-btn {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  color: #000;
  box-shadow: inset 0 1px 0 rgb(116, 116, 116);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: all 0.25s ease;
}
.paginated-btn:hover {
  background-color: rgb(247, 247, 247);
}
.paginated-btn-no-border {
  border: none;
}
.paginated-btn-no-rounded {
  border-radius: 0;
}
.paginated-btn-primary {
  background-color: #d01a30;
  color: white;
}
.paginated-btn-primary:hover {
  color: white;
  background-color: #282f5c;
}
.paginated-btn-error {
  background-color: #b42929;
  color: white;
}
.paginated-btn-error:hover {
  color: white;
  background-color: rgb(150, 31, 31);
}
.paginated-btn-green {
  background-color: #53a548;
  color: white;
}
.paginated-btn-green:hover {
  color: white;
  background-color: rgb(62, 133, 52);
}
.paginated-btn-black-outline {
  color: #0e0e0e;
  border-color: rgb(247, 247, 247);
}
.paginated-btn-black-outline:hover {
  background-color: rgb(247, 247, 247);
}
.paginated-btn-error-outline {
  color: #b42929;
  border-color: #b42929;
}
.paginated-btn-error-outline:hover {
  color: white;
  background-color: #b42929;
}

.search-container {
  position: relative;
}

.search-input {
  width: 100%;
  padding: 12px 16px;
  background-color: rgb(255, 255, 255);
  color: #000;
  box-shadow: inset 0 1px 0 rgb(116, 116, 116);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.25s ease;
}
.search-input:hover {
  background-color: rgb(247, 247, 247);
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #888;
}

.vscode-key-value {
  color: #7adfff;
}
.vscode-string-value {
  color: #fa9172;
}
.vscode-number-value {
  color: #7aff9a;
}
.vscode-boolean-value {
  color: #f0c872;
}
.vscode-null-value {
  color: #ff7adf;
}
.vscode-punctuation-value {
  color: #d4d4d4;
}

.andromeda-key-value {
  color: #00e8c6;
}
.andromeda-string-value {
  color: #FFE66D;
}
.andromeda-number-value {
  color: #f39c12;
}
.andromeda-boolean-value {
  color: #7cb7ff;
}
.andromeda-null-value {
  color: #96E072;
}
.andromeda-punctuation-value {
  color: #d4d4d4;
}

.slide-in-right-slow {
  animation: slide-in-right 1s ease-in-out both;
}

.slide-in-top-slow {
  animation: slide-in-top 1s ease-in-out both;
}

.slide-in-bottom-slow {
  animation: slide-in-bottom 1s ease-in-out both;
}

.slide-in-left-slow {
  animation: slide-in-left 1s ease-in-out both;
}

.slide-in-right {
  animation: slide-in-right var(--speed) ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-16 19:45:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.slide-in-top {
  animation: slide-in-top 1s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-26 3:32:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-4-7 21:0:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading {
  text-align: center;
  display: block;
  overflow: hidden;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(https://www.arcgis.com/apps/instant/interactivelegend/assets/loader-ie9.gif);
}

.fade-in-card {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.card {
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out;
}
.card-shadow {
  box-shadow: 0 0 15px -6px rgba(23, 54, 71, 0.5);
}
.card-rounded {
  border-radius: 0.5rem;
}
.card-no-hover {
  pointer-events: none;
}
.card-nsfw {
  filter: blur(5px);
}
.card-xsm {
  height: 10rem;
}
.card-sm {
  height: 15rem;
}
.card-md {
  height: 20rem;
}
.card-lg {
  height: 25rem;
}
.card-xl {
  height: 30rem;
}
.card-2xl {
  height: 35rem;
}
.card-3xl {
  height: 40rem;
}
.card-4xl {
  height: 45rem;
}
.card-screen {
  height: 100vh;
}

.img-card {
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  filter: saturate(0%);
}
.img-card-hasColor {
  filter: saturate(100%);
}
.img-card-noHover {
  pointer-events: none;
}
.img-card:hover {
  transform: scale(1.1);
  filter: opacity(1) saturate(110%);
}
.img-card-xsm {
  height: 10rem;
}
.img-card-sm {
  height: 15rem;
}
.img-card-md {
  height: 20rem;
}
.img-card-lg {
  height: 25rem;
}
.img-card-xl {
  height: 30rem;
}
.img-card-2xl {
  height: 35rem;
}
.img-card-3xl {
  height: 40rem;
}
.img-card-4xl {
  height: 45rem;
}
.img-card-screen {
  height: 100vh;
}

.blur {
  filter: blur(8px);
  transition: all 1s;
}
.blur:hover {
  filter: none;
}
.blur-none {
  filter: none;
}

.card-btn {
  display: inline-block;
  padding: 12px 16px;
  background-color: rgb(255, 255, 255);
  color: #000;
  border: 1px solid rgb(116, 116, 116);
  text-align: center;
  transition: all 0.25s ease;
}
.card-btn:hover {
  padding: 12px 2em;
  background-color: rgb(247, 247, 247);
}
.card-btn-rounded {
  border-radius: 0.5rem;
}
.card-btn-primary:hover {
  color: rgb(255, 255, 255);
  background-color: #d01a30;
  border-color: #d01a30;
}

.img-icon {
  transition: all 0.25s ease;
  filter: grayscale(100%) opacity(1) saturate(0%);
}
.img-icon-color {
  filter: grayscale(0%) opacity(1) saturate(100%);
}
.img-icon:hover {
  transform: rotate(10deg) scale(1.2);
  filter: grayscale(0%) opacity(1) saturate(150%);
}

.solar-system {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.sun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  animation: sun-color-shift 3s linear infinite;
  box-shadow: 0 0 50px #ffe270;
}

@keyframes sun-color-shift {
  0% {
    background: #ffe375;
    /* soft yellow */
  }
  33% {
    background: #ffd174;
    /* soft orange */
  }
  66% {
    background: #ffdb8a;
    /* soft peach */
  }
  100% {
    background: #ffe681;
    /* soft yellow */
  }
}
:root {
  --earth-orbit-time: 5s;
}

.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px dotted #ccc;
  border-radius: 50%;
}

.mercury {
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  animation: orbit calc(var(--earth-orbit-time) * 0.24) linear infinite;
}
.mercury .planet {
  width: 8px;
  /* 38% the size of Earth */
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #8b8685;
}

.venus {
  width: 180px;
  height: 180px;
  margin: -90px 0 0 -90px;
  animation: orbit calc(var(--earth-orbit-time) * 0.62) linear infinite;
}
.venus .planet {
  width: 15px;
  /* 95% the size of Earth */
  height: 15px;
  margin: -9px 0 0 -9px;
  background: #eda249;
}

.earth {
  width: 250px;
  height: 250px;
  margin: -125px 0 0 -125px;
  animation: orbit var(--earth-orbit-time) linear infinite;
}
.earth .planet {
  width: 18px;
  /* 3.9 times the size of Earth */
  height: 18px;
  background: #2b5ce3;
}
.earth .moon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  animation: orbit calc(var(--earth-orbit-time) * 0.0748) linear infinite;
}
.earth .moon .planet {
  height: 5px;
  width: 5px;
  background: #ccc;
  /* grey */
}

.mars {
  width: 320px;
  height: 320px;
  margin: -160px 0 0 -160px;
  animation: orbit calc(var(--earth-orbit-time) * 1.88) linear infinite;
}
.mars .planet {
  width: 11px;
  /* 53% the size of Earth */
  height: 11px;
  margin: -5.5px 0 0 -5.5px;
  background: #ed4c3e;
}

.asteroid-belt {
  animation: orbit calc(var(--earth-orbit-time) * 10) linear infinite;
  border: 5px double #ccc;
}
.asteroid-belt-sm {
  width: 370px;
  height: 370px;
  margin: -185px 0 0 -185px;
}
.asteroid-belt-lg {
  width: 850px;
  height: 850px;
  margin: -425px 0 0 -425px;
}

.jupiter {
  width: 440px;
  height: 440px;
  margin: -220px 0 0 -220px;
  animation: orbit calc(var(--earth-orbit-time) * 11.86) linear infinite;
}
.jupiter .planet {
  width: 44px;
  /* 11 times the size of Earth */
  height: 44px;
  margin: -22px 0 0 -22px;
  background: #d1a872;
}

.saturn {
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
  animation: orbit calc(var(--earth-orbit-time) * 29.46) linear infinite;
}
.saturn .planet {
  width: 32px;
  /* 3.9 times the size of Earth */
  height: 32px;
  margin: -16px 0 0 -16px;
  background: #dd983e;
}

.uranus {
  width: 700px;
  height: 700px;
  margin: -350px 0 0 -350px;
  animation: orbit calc(var(--earth-orbit-time) * 84) linear infinite;
}
.uranus .planet {
  width: 16px;
  /* 4 times the size of Earth */
  height: 16px;
  margin: -8px 0 0 -8px;
  background: #a8e0e0;
}

.neptune {
  width: 780px;
  height: 780px;
  margin: -390px 0 0 -390px;
  animation: orbit calc(var(--earth-orbit-time) * 165) linear infinite;
}
.neptune .planet {
  width: 15px;
  /* 3.9 times the size of Earth */
  height: 15px;
  margin: -7.5px 0 0 -7.5px;
  background: #4a6ab3;
}

.planet {
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 50%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.satellite {
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 6px;
  margin: 0 0 0 -2.5px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  background-image: url("https://em-content.zobj.net/thumbs/120/twitter/322/satellite_1f6f0-fe0f.png");
}

.satellite-launched {
  animation: satellite-launch 10s ease-in-out;
}

@keyframes satellite-launch {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(300px, -300px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.cursor-circle {
  position: fixed;
  pointer-events: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(208, 26, 48, 0.6);
  transform: translate(-50%, -50%);
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out, background-color 0.5s ease-in-out, border-radius 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.over-image {
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}/*# sourceMappingURL=style.css.map */