.nav {
	z-index: 2;
	position: fixed;
	background-color: $dark;
	transition: width $xslow-spd ease;
	overflow: hidden;
	display: flex;

	.logo {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 1rem;
		color: $white;
		background: $dark-light;

		width: 100%;

		span {
			font-size: x-large;
		}
	}

	.nav-item {
		width: 100%;

		&:last-child {
			margin-top: auto;
		}

		.nav-link {
			display: flex;
			align-items: center;
			height: 5rem;
			color: $white;
			text-decoration: none;
			filter: grayscale(100%) opacity(1);
			transition: $xslow-spd ease;

			.link-text {
				margin-left: 1rem;
			}

			i {
				width: 1rem;
				min-width: 1rem;
				margin: 0 1.5rem;
				transition: $xslow-spd ease;
			}

			&:hover {
				filter: grayscale(0%) opacity(1);
				background: $dark-hover;
				color: $highlight;
				cursor: pointer;

				i {
					transform: rotate(10deg);
				}
			}
		}
	}
}

/* Small screens */
@media only screen and (max-width: 600px) {
	.nav {
		flex-direction: row;
		height: 5rem;
		width: 100vw;
		bottom: 0;

		.nav-link {
			justify-content: center;

			span {
				display: none;
			}
		}

		.nav-item:first-child {
			display: none;
		}
	}
}

/* Large screens */
@media only screen and (min-width: 600px) {
	.nav {
		flex-direction: column;
		top: 0;
		width: 5rem;
		height: 100vh;

		&:hover {
			width: 15rem;

			.link-text {
				display: inline;
			}

			.logo {
				span {
					left: 0px;
				}
			}
		}
	}
}
