.main {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
	&-no-top {
		margin-top: 0;
	}
}
@media only screen and (max-width: $breakpoint-sm) {
	.main {
		margin-top: 0;
		margin-bottom: 3rem;
	}
}
.nav {
	z-index: 100;
	position: fixed;
	transition: width $speed-sm ease;
	display: flex;
	backdrop-filter: blur(10px);
	
	.logo {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 1rem;
		color: $light-gray;
		background: $dark-light;
		width: 100%;
		span {
			font-size: x-large;
		}
	}
	.nav-button {
		width: 100%;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all $speed-md ease;
		&-selected {
			background: $primary;
			color: $white;
		}

		.link-icon{
			transition: all $speed-md ease;
		}
	
		&:hover {
			background: $primary;
			color: $white;
			cursor: pointer;
			i {
				transform: rotate(10deg);
			}
		}

	}
}
/* For mobile screens */
@media only screen and (max-width: $breakpoint-sm) {
	.nav {
		flex-direction: row;
		height: 3rem;
		width: 100vw;
		bottom: 0;
	}
	.nav-button {
		
		
		.link-text {
			display: none;
		}
	}
		
}
/* Large screens */
@media only screen and (min-width: $breakpoint-sm) {
	.nav {
		flex-direction: row;
		height: 3rem;
		width: 100vw;
		top: 0;
	}
}