$black: #000;
$dark: #010101;
$dark-light: #2e2b33;

$white: rgb(255, 255, 255);
$smoke: #f0f0f0;
$smoke-dark: #e5e5e5;
$smoke-trans: rgba(255, 255, 255, 0.05);
$light-gray: #F5F7FA;

// Main
$primary: #182165;
$primary-light: #1d224f;
$primary-dark: #090d2a;
$success: #8bc34a;
$success-dark: rgb(49, 167, 33);
$error: #db3c30;
$error-dark: rgb(150, 31, 31);


// Buttons
$btn-default: rgb(247, 247, 247);
$btn-default-light: rgb(247, 247, 247);

// Text
$text: #546672;
$text-dark: #15191c;

$speed-sm: 0.25s;
$speed-md: 0.5s;
$speed-lg: 1s;
$speed-xl: 1.25s;
$speed-xxl: 1.5s;
$speed-xxxl: 2s;

$font-size-xs: 0.5rem;
$font-size-sm: 0.9rem;
$font-size-md: 1.0rem;
$font-size-lg: 1.3rem;
$font-size-xl: 1.6rem;
$font-size-xxl: 2.0rem;

// radius
$radius-lg: 0.5rem;


// Shadows
$card-shadow: 0 0 15px -6px rgba(0, 0, 0, 0.5);

// Tailwind Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

