$black: #000;
$dark: #111317;
$dark-light: #1A1D23;
$dark-hover: #1A1D23;
$white: #fff;



$primary: #2554d6;
$error: #fb4f4d;



$fast-spd: 100ms;
$slow-spd: 200ms;
$xslow-spd: 300ms;

$breakpoint-mid: 600px;