@mixin color-animation {
	animation-name: backgroundColorPalette;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Standard syntax */
@keyframes backgroundColorPalette {
	0% {
		background: #5c5ef3;
	}

	25% {
		background: #3f45fc;
	}

	50% {
		background: #3032aa;
	}

	75% {
		background: rgb(62, 8, 189);
	}

	100% {
		background: #0d48b8;
	}
}

@mixin saturation-animation {
	animation-name: backgroundSaturation;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Standard syntax */
@keyframes backgroundSaturation {
	0% {
		filter: saturate(150%);
	}

	25% {
		filter: saturate(170%);
	}

	50% {
		filter: saturate(200%);
	}

	75% {
		filter: saturate(170%);
	}

	100% {
		filter: saturate(150%);
	}
}



.header {
	@include saturation-animation();

}

