@mixin color-animation {
	animation-name: backgroundColorPalette;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Standard syntax */
@keyframes backgroundColorPalette {
	0% {
		background: #5c5ef3;
	}

	25% {
		background: #3f45fc;
	}

	50% {
		background: #3032aa;
	}

	75% {
		background: rgb(62, 8, 189);
	}

	100% {
		background: #0d48b8;
	}
}

@mixin saturation-animation {
	animation-name: backgroundSaturation;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Standard syntax */
@keyframes backgroundSaturation {
	0% {
		filter: saturate(130%);
	}

	25% {
		filter: saturate(150%);
	}

	50% {
		filter: saturate(200%);
	}

	75% {
		filter: saturate(150%);
	}

	100% {
		filter: saturate(130%);
	}
}



.header {
	@include saturation-animation();
	background-image: url('/assets/images/Header.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	color: $white;
}

.transparent-overlay {
	background: rgba(0, 0, 0, 0.4);
}

.about-btn {
	transition: all $speed-sm ease;

	&:hover {
		transform: scale(1.3);
	}
}

a.special-btn {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid $white;

	font-weight: 300;
	color: $white;
	text-align: center;
	transition: all $speed-sm ease;

	&:hover {
		color: $dark-hover;
		background-color: $white;
		padding: 0.35em 2em;
	}
}